// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
}
// Спойлер
.spollers__item {
	font-weight: 500;
	font-size: 16px;
	line-height: 162%;
	color: #4a4a4a;
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	// border: 1px solid #eee;
	// padding: rem(10) rem(15);
	border-radius: rem(5);
	position: relative;
	font-weight: 500;
	@include adaptiveValue("font-size", 16, 14);
	line-height: 162%;
	color: #4a4a4a;
	outline: none;
	& > p {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 0px;
			bottom: 3%;
			background-color: #e97522;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	outline: none;
	@include adaptiveValue("font-size", 16, 14);

	// padding: rem(20);
	// border-radius: rem(5);
	// border: 1px solid #eee;
	& > p {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
