// Заголовки, общие БЄМ блоки и проче...
.title {
	font-weight: 600;
	@include adaptiveValue("font-size", 36, 24);
	line-height: 120%;
	text-align: center;
	color: #333333;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 80, 40);
	}
}

[class*="_btn"] {
	transition: all 0.3s ease 0s;
	&:hover {
		color: #333333;
		background: linear-gradient(180deg, #e97522 -21.43%, #ee7a28 100%);
	}
}
