//====================================================================================================
.header {
	.menu-open & {
		background: rgba(15, 15, 15, 0.7);
	}
	// .header__container
	&__container {
	}
	// .header__menu
	&__menu {
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 12px 0;
	}
	// .header__logo
	&__logo {
		@include adaptiveValue("width", 108, 63);
		img {
			max-width: 100%;
		}
		@media (max-width: $mobile) {
			flex: 1 1 auto;
		}
	}
	// .header__contacts
	&__contacts {
		align-items: center;
		display: flex;
		gap: 24px;
		@media (max-width: $pc) {
			flex-direction: column;
			gap: 15px;
			align-items: flex-end;
		}
		@media (max-width: $mobileSmall) {
			flex-direction: row;
		}
	}
	// .header__callback
	&__callback {
		color: $mainColorOrange;
		font-weight: 500;
		font-size: 12px;
		line-height: math.div(15, 12);
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 8px 24px;
		border: 2px solid #e97522;
		border-radius: 10px;
		white-space: nowrap;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #e97522;
			color: #ffffff;
		}
		&::active {
			font-size: 10px;
		}
		@media (max-width: $pc) {
			padding: 8px 12.5px;
			order: 2;
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	// .header__tel
	&__tel {
		font-size: 14px;
		white-space: nowrap;
		&_icon {
			@media (max-width: $mobileSmall) {
				background: url("@img/header/phone.svg") 0 0 no-repeat;
				width: 20px;
				min-height: 20px;
			}
		}
	}
}
.menu {
	// .menu__body
	&__body {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 80px;
			right: -100%;
			padding: 20px;
			z-index: 10;
		}
		.menu-open & {
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 80px;
			right: 0px;
			padding: 20px;
			z-index: 10;
			& .menu__list {
				flex-direction: column;
				align-items: flex-end;
			}
			& .menu__item {
			}
			& .menu__link {
				text-align: right;
				font-weight: 600;
				font-size: 14px;
				line-height: 143%;
				color: #ffffff;
			}
		}
	}
	// .menu__list
	&__list {
		align-items: center;
		display: flex;
		column-gap: 32px;
		row-gap: 10px;
		flex-wrap: wrap;
		@media (max-width: $mobile) {
			flex-direction: column;
			align-items: flex-end;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		color: #4a4a4a;
		transition: all 0.3s ease 0s;
		&:hover {
			color: #333333;
		}
		&._active {
			color: #e97522;
		}
	}
	// .menu__icon
	&__icon {
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			background-color: $mainColorOrange;
			border-radius: 15px;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(47.5% - rem(0.55));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
