@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
// font-family: 'Montserrat', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
// font-family: 'IBM Plex Sans', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
// font-family: 'Roboto', sans-serif;

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #333333; // Цвет шрифта по умолчанию
$mainColorText2: #4a4a4a; // Цвет шрифта тест
$mainColorOrange: #e97522; // Оранжевый

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1240;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
.page {
	// .page__first
	&__first {
	}
	// .page__jobs
	&__jobs {
	}
	// .page__locations
	&__locations {
	}
	// .page__decoration
	&__decoration {
	}
}
.first-page {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	height: 95vh;
	display: grid;
	align-items: center;
	// .first-page__container
	&__container {
		position: relative;
		z-index: 2;
	}
	// .first-page__heading
	&__heading {
		font-weight: 700;
		@include adaptiveValue("font-size", 66, 22, 1440, 500, 1);
		line-height: math.div(78, 66);
		letter-spacing: 3.2px;
		color: #f5f5f5;
		&:not(:last-child) {
			margin-bottom: 52px;
		}
	}
	// .first-page__subheading
	&__subheading {
		display: none;
		@media (min-width: $mobile) {
			display: block;
			font-weight: 600;
			font-size: 36px;
			line-height: 120%;
			color: #f5f5f5;
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
	// .first-page__description
	&__description {
		display: none;
		@media (min-width: $mobile) {
			display: block;
			font-weight: 500;
			font-size: 16px;
			line-height: math.div(26, 16);
			color: #f5f5f5;
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}
	}
	// .first-page__btn
	&__btn {
		font-weight: 600;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(26, 20);
		padding: 22px 27.5px;
		text-align: center;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #ffffff;
		background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
		border-radius: 10px;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $mainColor;
			background: linear-gradient(180deg, $mainColorOrange -21.43%, #ee7a28 100%);
		}
	}
	// .first-page__video
	&__video {
		filter: brightness(40%);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
// ==============================================
.jobs-page {
	@include adaptiveValue("padding-top", 120, 60);
	// .jobs-page__title
	&__title {
	}
	// .jobs-page__slider
	&__slider {
		position: relative;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 12);
		}
	}
	// .jobs-page__wrapper
	&__wrapper {
	}
	// .jobs-page__slide
	&__slide {
	}
	// .jobs-page__link
	&__link {
	}
	// .jobs-page__img
	&__img {
		max-width: 100%;
		max-height: 543px;
	}
}
.title {
	font-weight: 600;
	@include adaptiveValue("font-size", 36, 24);
	line-height: 120%;
	text-align: center;
	color: #333333;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 80, 40);
	}
}

.jobs-page-pagination {
	display: flex;
	justify-content: center;
	height: 10px;
	.swiper-pagination-bullet {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #b1b1b1;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		&-active {
			background: $mainColorOrange;
			transform: scale(1.6);
		}
		&:not(:last-child) {
			margin-right: 14px;
		}
	}
}
.jobs-page-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20%;

	color: $mainColorOrange;
	filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
	@include adaptiveValue("width", 73, 36);
	@include adaptiveValue("height", 73, 36);
	background: #ffffff;
	border-radius: 50%;
}
.jobs-page-button-next {
	color: $mainColorOrange;
	filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
	@include adaptiveValue("width", 73, 36);
	@include adaptiveValue("height", 73, 36);
	background: #ffffff;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20%;
	&::before {
		transform: rotate(180deg);
	}
}
//====================================================
.locations-page {
	@include adaptiveValue("padding-top", 120, 60);
	background: url("@img/locations/decor.svg") center / cover no-repeat;

	// .locations-page__container
	&__container {
		text-align: center;
	}
	// .locations-page__title
	&__title {
	}
	// .locations-page__slider
	&__slider {
	}
	// .locations-page__wrapper
	&__wrapper {
	}
	// .locations-page__slide
	&__slide {
	}
	// .locations-page__btn
	&__btn {
	}

	// .locations-page__prev
	&__prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -3%;
		color: $mainColorOrange;
		filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
		@include adaptiveValue("width", 73, 36);
		@include adaptiveValue("height", 73, 36);
		background: #ffffff;
		border-radius: 50%;
	}
	// .locations-page__next
	&__next {
		color: $mainColorOrange;
		filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
		@include adaptiveValue("width", 73, 36);
		@include adaptiveValue("height", 73, 36);
		background: #ffffff;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -3%;

		&::before {
			transform: rotate(180deg);
		}
	}
	// .locations-page__img
	&__img {
		max-width: 100%;
		border-radius: 15px;
	}
	// .locations-page__box
	&__box {
		position: relative;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 32);
		}
	}
}
.btn {
	font-weight: 600;
	@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(20, 16);
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 14px 54px;
	background: linear-gradient(180deg, #ffa96b -21.43%, #ee7a28 100%);
	border-radius: 10px;
	display: inline-flex;
	margin: 0 auto;
}
// =================================================
.decoration-page {
	@include adaptiveValue("padding-top", 120, 60);
	// .decoration-page__title
	&__title {
	}
	// .decoration-page__video
	&__video {
		object-fit: cover;
		max-width: 100%;
	}
	// .decoration-page__box
	&__box {
		position: relative;
	}

	// .decoration-page__button
	&__button {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.9s ease 0s;

		&:hover {
			filter: invert(47%) sepia(100%) saturate(442%) hue-rotate(342deg) brightness(94%) contrast(94%);
		}
	}
	// .decoration-page__img-triangle
	&__img-triangle {
		@include adaptiveValue("width", 180, 47);
		@include adaptiveValue("height", 180, 47);
	}
}
.title {
}
